extends ../layouts/common.pug

block content
	h1 User List
	a(href="/users/create") create
	form(method="get",action="/users/search")
		input(type="text",name="a") 
		button search 
	table.table
		tr
			th ID
			th Avatar
			th Name
			th Phone
			th Actions

		each content in lstUsers
			tr
				td= content.id
				td
					img(src= content.avatar, width="65")
				td= content.name
				td= content.phone
				td
					a.btn.btn-light(href="/users/"+content.id) show

	